name: Flutter Web Deploy

on:
  push:
    branches:
      - main  # Deploy whenever main branch is updated

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: "3.13.0"

    - name: Install dependencies
      run: flutter pub get

    - name: Build Flutter web
      run: flutter build web --release --base-href "/"

    - name: Deploy to GitHub Pages
      uses: peaceiris/actions-gh-pages@v6
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: build/web
